.back-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.back-logo > svg {
  position: absolute;
}

.back-logo > img {
  position: absolute;
}

/* python */
.back-logo #python {
  top: 50%;
  left: 55%;
  width: 50px;
  animation: firelogo 20s linear infinite alternate;
}

/* js */
.back-logo svg:nth-child(6) {
  top: 20%;
  left: 60%;
  width: 50px;
  animation: firelogo 20s linear infinite alternate;
}

/* React */
.back-logo svg:nth-child(2) {
  top: 25%;
  left: 30%;
  width: 150px;
  animation: bounces 7s linear infinite alternate;
}

/* AE */
.back-logo svg:nth-child(3) {
  top: 73%;
  left: 46%;
  width: 120px;
  animation: bounces 7s linear infinite alternate;
}

/* android */
.back-logo svg:nth-child(4) {
  top: 70%;
  left: 18.5%;
  width: 85px;
  animation: logo 20s linear infinite alternate;
}

/* F */
.back-logo svg:nth-child(1) {
  top: 45%;
  left: 89%;
  width: 100px;
  animation: logo 20s linear infinite alternate;
}

/* android 2 */
.back-logo svg:nth-child(7) {
  top: 70%;
  left: 82%;
  width: 50px;
  animation: bounces 5s linear infinite alternate;
}

/* firebase */
.back-logo svg:nth-child(5) {
  top: 17%;
  left: 8%;
  width: 70px;
  animation: firelogo 15s linear infinite alternate;
}

/* F */
.back-logo svg:nth-child(8) {
  top: 65%;
  left: 1.5%;
  width: 30px;
  animation: logo 20s linear infinite alternate;
}

@keyframes firelogo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(550px);
  }
}

@keyframes logo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-450px);
  }
}

@keyframes bounces {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}
