@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .highlights {
    @apply text-blue-600 font-semibold hover:underline;
  }
}

body::-webkit-scrollbar {
  display: none;
}
body {
  user-select: none;
}

.background {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 235, 241, 1) 100%);
}



/*  */
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */